.footer{
    clear: both;
    background-color: lightgreen;
    text-align: center;
}
.navigation{
    background-color: lightgreen;
}
.search{
margin: 0 auto;
}
.adminLogin{
    width: 100%;
    background-color: #61dafb;
}
.adminLogin form{
    display: table;
    margin: 0 auto;
    background-color: #61dafb;
    overflow: hidden;
}